<HTML>
 
  <HEAD>
           <TITLE> Mi Primera Página Web</TITLE>
  </HEAD>
   
  <BODY>
  <h1 style="color: aqua;"> Este texto tiene el tamaño determinado por la etiqueta H1 </h1>
  <h2> Este texto tiene el tamaño determinado por la etiqueta H2 </h2>
  <h3> Este texto tiene el tamaño determinado por la etiqueta H3 </h3>
  <h4> Este texto tiene el tamaño determinado por la etiqueta H4 </h4>
  <h5> Este texto tiene el tamaño determinado por la etiqueta H5 </h5>
  <h6 style="color: blueviolet;"> Este texto tiene el tamaño determinado por la etiqueta H6 </h6>

  <p style="color: blue;" >ARRIBA PERÚ</p>
  </BODY>
   
  </HTML>
